<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>uhaapi</display-name>

	<listener>
		<listener-class>com.uhaapi.server.Configurator</listener-class>
	</listener>
	<listener>
		<listener-class>com.uhaapi.server.MemcachedListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.uhaapi.server.ThreadPoolListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.uhaapi.server.ModuleListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.uhaapi.server.InjectorListener</listener-class>
	</listener>

	<context-param>
		<param-name>app.user_agent</param-name>
		<param-value>Unofficial Heavens Above API (uhaapi.com)</param-value>
	</context-param>

	<filter>
		<display-name>jsonp</display-name>
		<filter-name>jsonp</filter-name>
		<filter-class>org.jsonp.JsonpFilter</filter-class>
		<init-param>
			<param-name>jsonp</param-name>
			<param-value>jsonp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jsonp</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>GuiceFilter</filter-name>
		<filter-class>com.uhaapi.server.IntermediateGuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GuiceFilter</filter-name>
		<url-pattern>/satellites/*</url-pattern>
	</filter-mapping>
</web-app>